* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#page {
    font-family: Barlow, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#message {
    font-size: 5rem;
    font-weight: lighter;
    color: #a24545;
}

.loader {
    margin-top: 20px;
    width: 60px;
    height: 50px;
    display: grid;
    color: #046D8B;
}

.loader:before, .loader:after {
    content: "";
    grid-area: 1/1;
    --c:#0000 calc(100%/3),#046D8B 0 calc(2*100%/3),#0000 0;
    --c1:linear-gradient(90deg,var(--c));
    --c2:linear-gradient( 0deg,var(--c));
    background: var(--c1),var(--c2),var(--c1),var(--c2);
    background-size: 300% 5px,5px 300%;
    background-repeat: no-repeat;
    animation: l15 1.5s infinite;
}

.loader:after {
    animation-delay: -.75s;
}

@keyframes l15 {
    0%   {background-position: 50%  0,100% 100%,0    100%,0 0}
    25%  {background-position: 0    0,100% 50% ,0    100%,0 0}
    50%  {background-position: 0    0,100% 0   ,50%  100%,0 0}
    75%  {background-position: 0    0,100% 0   ,100% 100%,0 50%}
   75.01%{background-position: 100% 0,100% 0   ,100% 100%,0 50%}
    100% {background-position: 50%  0,100% 0   ,100% 100%,0 100%}
}